<ul class="resp-tabs-list clearfix">
    {{#if: {{{ jbxx }}} |<li class="active bili-list-style"><span class="tab-panel">基本信息</span></li>| }}
    {{#if: {{{ zs }}} |<li class="bili-list-style" ><span class="tab-panel" >专属</span></li>| }}
    {{#if: {{{ sx }}} | <li class="bili-list-style" ><span class="tab-panel" >属性</span></li> | }}
    {{#if: {{{ jn }}} | <li class="bili-list-style" ><span class="tab-panel" >技能</span></li> | }}
    {{#if: {{{ lwjf }}} |<li class="bili-list-style" ><span class="tab-panel" >灵纹解放</span></li>| }}
    {{#if: {{{ dmjq }}} |<li class="bili-list-style" ><span class="tab-panel" >夺命技巧</span></li>| }}
    {{#if: {{{ da }}} |<li class="bili-list-style" ><span class="tab-panel" >档案</span></li>| }}
</ul>
