<div class="center list-img">

    <div class="main-line-wrap camp">
        <div class="resp-tabs">
            <ul class="resp-tabs-list clearfix ">
                <li class="active bili-list-style"><span class="tab-panel">耶格尔事务所</span></li>
                <li class="bili-list-style"><span class="tab-panel">碧眼之蛇</span></li>
                <li class="bili-list-style"><span class="tab-panel">长刀党</span></li>
                <li class="bili-list-style"><span class="tab-panel">王权馆</span></li>
                <li class="bili-list-style"><span class="tab-panel">不夜城</span></li>
                <li class="bili-list-style"><span class="tab-panel">圣堂</span></li>
                <li class="bili-list-style"><span class="tab-panel">支仓氏</span></li>
                <!--想添加更多标签,可以复制上面一行-->
            </ul>
            <div class="resp-tabs-container">
                <div class="resp-tab-content" style="display: block">
                    <span>[[File:犬.png|link=犬]]</span>
                    <span>[[File:薇.png|link=薇]]</span>
                </div>
                <div class="resp-tab-content">
                    <span>[[File:夜骑士.png|link=夜骑士]]</span>
                    <span>[[File:巨灵.png|link=巨灵]]</span>
                    <span>[[File:黎希特.png|link=黎希特]]</span>
                </div>
                <div class="resp-tab-content">
                    <span>[[File:丧钟3.png|link=丧钟 | 174px]]</span>
                    <span>[[File:凯欧斯.png|link=凯欧斯]]</span>
                    <span>[[File:亚斯伯格.png|link=亚斯伯格]]</span>
                </div>
                <div class="resp-tab-content">
                    <span>[[File:米诺桃斯.png|link=米诺桃斯]]</span>
                    <span>[[File:朱莉.png|link=朱莉]]</span>
                    <span>[[File:末日.png|link=末日]]</span>
                </div>
                <div class="resp-tab-content">
                    <span>[[File:弦.png|link=弦]]</span>
                    <span>[[File:露丝.png|link=露丝]]</span>
                </div>
                <div class="resp-tab-content">
                    <span>[[File:拉斐尔.png|link=拉斐尔]]</span>
                </div>
                <div class="resp-tab-content">
                    <span>[[File:建御丸.png|link=建御丸]]</span>
                </div>
            </div>
        </div>
    </div>
</div>
{{#css:
pre{
background-color: transparent !important;
border: none !important;
padding: 0px !important;
}

.camp .tab-panel{
width: 129px !important;
height: 35px !important;
align-content: center !important;
background: linear-gradient(227deg, #ffba4d , #222222, 15%, #060606) !important;
font-size: 14px !important;
font-weight: 500 !important;
color: #ffffff !important;
display: inline-grid !important;
}

.camp .tab-panel:hover{
background: #be9b64 !important;
font-weight: bold !important;
}

.camp li.bili-list-style {
margin: 10px 5px 0px 5px !important;
}

.camp  li.bili-list-style.active .tab-panel{
background: #be9b64 !important;
font-weight: bold !important;
}

.camp  ul.resp-tabs-list{
margin: 0px !important;
}

.camp .resp-tab-content pre{
display: table-row;
}

.camp .resp-tab-content span{
margin: 0px 9px 0 5px !important;
}

.camp .resp-tabs-container{
margin: 10px 0px 0px 0px !important;
}

}}
